$breakpoints: (
  "phone-down": 500px,
  "tablet-up": 768px,
  "tablet-down": 900px,
  "desktop-up": 1024px,
  "desktop-down": 1280px,
  "widescreen-up": 1440px,
);

$padding: (
  "phone-down": 20px,
  "tablet-up": 35px,
  "tablet-down": 42px,
  "desktop-up": 143px,
  "desktop-down": 180px,
  "widescreen-up": 196px,
);

@function changingSize($mobileSize, $desktopSize) {
  @return calc(
    #{$mobileSize}px + #{$desktopSize - $mobileSize} * ((100vw - 375px) / 1065)
  );
}

@mixin regularPadding($paddingOrMargin, $value) {
  #{$paddingOrMargin}: $value $value $value $value;
}

@mixin responsiveSize($key) {
  @media (min-width: map-get($breakpoints,$key)) {
    & {
      @content;
    }
  }
}

%autoResponsive {
  width: calc(100% - 20px);
  @each $key, $value in $breakpoints {
    @include responsiveSize($key) {
      width: $value - 2 * map-get($padding, $key);
    }
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*
  padding-left: changingSize(10, 197);
  padding-right: changingSize(10, 197);
  padding-top: 20px;
*/
}
main {
  background: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #4f4f4f;
}
.group {
  margin-top: 50px;
  background: white;
  border-radius: 12px;
}
.id {
  display: flex;
  flex-wrap: nowrap;
  /*width: changingSize(355, 1046);*/
  @extend %autoResponsive;
  align-items: center;

  &__photo {
    width: 311px;
    @include regularPadding(padding, 22px);
    height: 311px;
    border-radius: 30px;
  }

  &__gpeTexte {
    @include regularPadding(padding, 22px);
    color: #828282;
    width: 70%;
  }

  &__gpeContact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  &__gpeContact__gpeName {
    min-width: 50%;
  }
  &__name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #4f4f4f;
  }

  p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 20px;

    /* Gray 3 */

    color: inherit;
  }

  &__gpeContact__infos {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* Gray 2 */

    color: #4f4f4f;
  }
}

/*COMPETENCES*/
h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;

  /* Gray 2 */

  color: #4f4f4f;
}
.skills {
  height: 303px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include regularPadding(padding, 24px);

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #4f4f4f;
  }

  &__total {
    width: 70%;
    height: 9.6px;
    background: #c4c4c4;
    border-radius: 12px;
  }

  &__current {
    height: 100%;
    background: #2f80ed;
    border-radius: 12px;

    &__html {
      width: 80%;
    }
    &__css {
      width: 70%;
    }
    &__js {
      width: 50%;
    }
    &__vue {
      width: 60%;
    }
    &__figma {
      width: 80%;
    }
    &__bs {
      width: 40%;
    }
  }
}

/* HOBBIES*/

.hobbies {
  height: 836px;
  @include regularPadding(padding, 22px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__gpe {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__imgContainer {
    border-radius: 12px;
    width: 100%;
    height: 139px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    height: auto;
    width: 100%;
  }

  &__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #333333;
  }

  &__description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: #828282;
  }
}

/* Blog*/

.blog {
  padding-left: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 656px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: #e0e0e0;
  }

  &__gpeTitre {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;

    &__titre {
      width: 30%;
    }

    &__containerImg {
      width: 60%;
      height: 321px;
      overflow: hidden;
    }

    &__img {
      object-fit: cover;
    }
  }

  &__text {
    width: 83%;
  }
}

.brokenDisplay {
  @extend %autoResponsive;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.leftDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include responsiveSize("tablet-up") {
    width: 39%;
  }
}

.rightDisplay {
  width: 100%;
  flex-direction: column;
  display: flex;

  @include responsiveSize("tablet-up") {
    width: 57%;
  }
}
