.brokenDisplay, .id {
  width: calc(100% - 20px);
}
@media (min-width: 500px) {
  .brokenDisplay, .id {
    width: 460px;
  }
}
@media (min-width: 768px) {
  .brokenDisplay, .id {
    width: 698px;
  }
}
@media (min-width: 900px) {
  .brokenDisplay, .id {
    width: 816px;
  }
}
@media (min-width: 1024px) {
  .brokenDisplay, .id {
    width: 738px;
  }
}
@media (min-width: 1280px) {
  .brokenDisplay, .id {
    width: 920px;
  }
}
@media (min-width: 1440px) {
  .brokenDisplay, .id {
    width: 1048px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*
    padding-left: changingSize(10, 197);
    padding-right: changingSize(10, 197);
    padding-top: 20px;
  */
}

main {
  background: #333333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
}

.group {
  margin-top: 50px;
  background: white;
  border-radius: 12px;
}

.id {
  display: flex;
  flex-wrap: nowrap;
  /*width: changingSize(355, 1046);*/
  align-items: center;
}
.id__photo {
  width: 311px;
  padding: 22px 22px 22px 22px;
  height: 311px;
  border-radius: 30px;
}
.id__gpeTexte {
  padding: 22px 22px 22px 22px;
  color: #828282;
  width: 70%;
}
.id__gpeContact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}
.id__gpeContact__gpeName {
  min-width: 50%;
}
.id__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
}
.id p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
  /* Gray 3 */
  color: inherit;
}
.id__gpeContact__infos {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* Gray 2 */
  color: #4f4f4f;
}

/*COMPETENCES*/
h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  /* Gray 2 */
  color: #4f4f4f;
}

.skills {
  height: 303px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 24px 24px 24px;
}
.skills__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
.skills__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
}
.skills__total {
  width: 70%;
  height: 9.6px;
  background: #c4c4c4;
  border-radius: 12px;
}
.skills__current {
  height: 100%;
  background: #2f80ed;
  border-radius: 12px;
}
.skills__current__html {
  width: 80%;
}
.skills__current__css {
  width: 70%;
}
.skills__current__js {
  width: 50%;
}
.skills__current__vue {
  width: 60%;
}
.skills__current__figma {
  width: 80%;
}
.skills__current__bs {
  width: 40%;
}

/* HOBBIES*/
.hobbies {
  height: 836px;
  padding: 22px 22px 22px 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hobbies__gpe {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hobbies__imgContainer {
  border-radius: 12px;
  width: 100%;
  height: 139px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hobbies__img {
  height: auto;
  width: 100%;
}
.hobbies__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #333333;
}
.hobbies__description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #828282;
}

/* Blog*/
.blog {
  padding-left: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 656px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #e0e0e0;
}
.blog__gpeTitre {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}
.blog__gpeTitre__titre {
  width: 30%;
}
.blog__gpeTitre__containerImg {
  width: 60%;
  height: 321px;
  overflow: hidden;
}
.blog__gpeTitre__img {
  object-fit: cover;
}
.blog__text {
  width: 83%;
}

.brokenDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.leftDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .leftDisplay {
    width: 39%;
  }
}

.rightDisplay {
  width: 100%;
  flex-direction: column;
  display: flex;
}
@media (min-width: 768px) {
  .rightDisplay {
    width: 57%;
  }
}

/*# sourceMappingURL=style.css.map */
